node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
assets/downloaded/*
web-build/
web-report/
app.json
# macOS
.DS_Store
firebase/testConfig.ts
firebase/prodConfig.ts
firebase/google-services.json
firebase/GoogleService-Info.plist
.vscode
scripts/service-account.json
