node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
assets/downloaded/*
web-build/
web-report/
app.json
# macOS
.DS_Store
firebase/testConfig.ts
firebase/prodConfig.ts
firebase/google-services.json
firebase/GoogleService-Info.plist
.vscode
scripts/service-account-PROD.json
scripts/service-account-TEST.json
scripts/expo-logins.js
scripts/apple-dev-login.js
scripts/sudo-login.js
.tmp/sentry